version: '3.4'
services:
  rasa-server:
    image: okteto.dev/okteto-rasa-server:latest
    build: "./"
    volumes:
    - ./actions:/app/actions
    - ./data:/app/data
    command: bash -c "echo \"Installing spacy...\" && pip install spacy && echo \"Installing english medium model...\" && python -m spacy download en_core_web_md  &&  rm -rf models/* && rasa train && rasa run -m models --enable-api --cors \"*\" --debug"
    working_dir: /app
    ports:
    - '5006:5005'
    public: true
    networks:
    - all

  rasa-actions-server:
    image: okteto.dev/okteto-rasa-server:latest
    working_dir: /app
    build: "./"
    restart: always
    volumes:
    - ./actions:/app/actions
    command: bash -c "rasa run actions"
    ports:
    - '5055:5055'
    networks:
    - all

  spacyapi:
    image: jgontrum/spacyapi:en_v2
    restart: always


networks:
  all:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "true"
